.publication-card{
    height: 383px;
    margin-bottom: 15px;
}

.publication-card a{
    text-decoration: none;
}

.publication-card .thumbnail{
    height: 383px;
    background-color: #F1EAF2;
}

.publication-card .thumbnail:hover{
    background-color: #5bc0de;
}

.publication-card img{
    height: 260px;
}

.jumbotron p{
    font-size: 17px;
    word-wrap: break-word;
}
.jumbotron img{
    margin-top: 20px;
}

form .help-block{
    font-size: 12px;
}

form textarea{
    resize: none;
}

.pagination{
    margin: 0; !important;
}

#publication-list .panel-image{
    height: 265px;
}

#publication-list .panel-image img{
    height: 100%;
    width: 195px;
}

#publication-list .panel-body{
    overflow: hidden;
    text-overflow: ellipsis;
}

.margin-right-10{
    margin-right: 10px;
}

.label-subscriber{
    border-radius: 5px;
    padding: 3px 5px;
    background-color: #5bc0de;
    color: #fff;
    font-weight: bold;
}

a:focus{
    outline: none;
}

.user-list-wrapper{
    margin-top: 10px;
}

.user-list-modal > div, .user-list-final > div{
    display: block !important;
    margin-top: 5px;
}

.user-list-wrapper .user-wrapper{
    height: 25px;
    border: 1px solid #999;
    border-radius: 50px;
    line-height: 21px;
}

.user-list-wrapper .icon-wrapper{
    background-color: #999;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    border-radius: 50px;
}

.user-list-wrapper .user-wrapper .info-wrapper{
    margin-left: 15px;
}

.margin-top-15{
    margin-top: 15px;
}

#onglets{
    display: block;
    border-bottom: 1px solid #CBCBCB;
    height: auto;


}
#onglets li{
    /*float: left;*/
    display: inline-block;
    list-style: none;
    padding: 5px 8px;
    margin-right: 2px;
    border: 1px solid #CBCBCB;
    cursor: pointer;
    /*color: #0D5995;*/

    border-radius: 2px 2px 0 0;
    margin-bottom: -1px;
}
#onglets .actif{
    font-weight: 600;
    border-bottom: 1px solid #FFF;
}

.mapael .map {
    position: relative;
}
.mapael .mapTooltip {
    position: absolute;
    background-color: #DCC6E0;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #343434;
}
.mapael .areaLegend {
    margin-bottom: 20px;
}
