.publication-card{
    height: 383px;
    margin-bottom: 15px;
}

.publication-card a{
    text-decoration: none;
}

.publication-card .thumbnail{
    height: 383px;
    background-color: #F1EAF2;
}

.publication-card .thumbnail:hover{
    background-color: #5bc0de;
}

.publication-card img{
    height: 260px;
}

.jumbotron p{
    font-size: 17px;
    word-wrap: break-word;
}
.jumbotron img{
    margin-top: 20px;
}

form .help-block{
    font-size: 12px;
}

form textarea{
    resize: none;
}

.pagination{
    margin: 0; !important;
}

#publication-list .panel-image{
    height: 265px;
}

#publication-list .panel-image img{
    height: 100%;
    width: 195px;
}

#publication-list .panel-body{
    overflow: hidden;
    text-overflow: ellipsis;
}

.margin-right-10{
    margin-right: 10px;
}