{% extends '@Publication/publicationLayout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Les publications</h1>
        </div>
    </div>

    <div>
        {% for flashErrors in app.session.flashbag.get('errors') %}
            <p class="alert alert-danger">{{ flashErrors }}</p>
        {% endfor %}

        {% for flashSuccess in app.session.flashbag.get('success') %}
            <p class="alert alert-success">{{ flashSuccess }}</p>
        {% endfor %}
    </div>

    <div class="col-md-12" style="margin:15px 0;">
        <div class="left col-md-6">
            <div class="col-md-6">
                <input type="text" class="form-control search-input" placeholder="Rechercher..." data-class-search="publication">
            </div>
            <div class="col-md-6">
                <a href="{{ path('publication_new') }}" class="btn btn-success">Créer une nouvelle publication</a>
            </div>
        </div>

        <div class="right col-md-6">
            <div class="pagination-wrapper pull-right">
                {% include '@Tools/pagination.html.twig' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div id="publication-list" class="col-md-12">
            <div class="row form-group data-list">
                {% include '@Publication/publication/index-partial/publication-list.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}