<div class="row">
<div class="hidden" id="chartData" data-chart="{{ ageData }}"  data-Hdep-chart="{{ depHead }}"></div>
    <div class="col-md-6 "><canvas id="myChart"   ></canvas></div>
    <div class="col-md-6 mapContainer "><div class="map" id="myChart2"  ></div>
    <div class="areaLegend"></div> </div>
</div>
