{% extends 'layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="jumbotron col-md-12">
            <h1>{{ 'error.noAccess'|trans }}</h1>
            {#<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>#}
        </div>
    </div>
{% endblock %}
