<h3>Bonjour {{ name }} !</h3>
<br>
<p>Vous venez de vous inscrire sur notre plateforme d'abonnement de magazine.</p>
<br>
<p>Avant de vous connectez, merci de <a href="http://client.unamag.local/auth/login?key={{ hash }}">cliquez ici</a> pour valider votre inscritpion.</p>
<br>
<p>N'hésitez pas à contacter le service client qui est disponible pour vous, via courrier, téléphone et email.</p>
<br>
<p>Cordialement,<br>
L'équipe d'Unamag<br>
<br>
Technopôle de Château-Gombert<br>
Europarc bâtiment B<br>
22 rue John Maynard Keynes<br>
13013 MARSEILLE<br>
<br>
06 51 57 91 73<br>
04 91 95 50 00<br>
<br>
projet@esimed.fr
</p>